{
  "host": "ftp.example.org",
  "username": "",
  "password": "",
  "port": "21",
  "localDir": "/anydj.de",
  "secure": true,
  "publicUrl": "https://anydj.de",
  "shellhost": "",
  "shellusername": "",
  "shellpassword": "",
  "shellport": "22",
  "shelllocalDir": "/anydj.de"
}
